*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    text-align: center;
}
.box{
    display: inline-block;
    background-color: teal;
    width: 200px;
    height: 100px;
    line-height: normal;
    vertical-align: middle;
}
#one{
    border-radius: 10px;
    position: relative;
    bottom: 225px;
    width: 50%;
    height: 50px;
    padding: 15px;
}
#two{
    background-color: gray;
    border-radius: 10px;
    position: relative;
    top: 100px;
    width: 80%;
    height: 300px;
    padding: 30px;
    padding-top: 50px;
}
img{
    width: 100px;
    height: 100px;
}
figure{
    padding: 20px;
}